@import "tailwindcss";

* {
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overscroll-behavior: none;
  -webkit-overflow-scrolling: auto;
}

html {
  height: -webkit-fill-available;
}

body {
  min-height: 100dvh;
  min-height: -webkit-fill-available;
}

video::-webkit-media-controls {
  display: none !important;
}
